@model Membresia.Models.ViewModels.PersonaDetalleVM
@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Master.cshtml";
}



<div class="row">

    <div class="ibox float-e-margins">

        <div class="ibox-content" style="background-color:#1ab394">

            <div class="row">
                <div class="col-md-8">

                    <div class="profile-image">
                        <img src="~/img/Perfil_Default.png" class="rounded-circle circle-border m-b-md" alt="profile">

                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <div>
                                    <span class=" font-perfil font-bold">@Model.NombreCompleto</span>
                                    <a asp-action="Editar" asp-route-Id="@Model.IdPersona" class="btn btn-xs btn-default"> Editar</a>
                                </div>
                                <div>
                                    <span class="fa fa-envelope m-r-xs"></span>@Model.CorreoElectronico |
                                    <span class="fa fa-phone m-r-xs"></span> @Model.Telefono
                                </div>
                            </div>
                            <div>
                                <span>@Model.EstadoCivil</span> •
                                <span>@Model.Genero</span> •
                                <span>@Model.Edad Años</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="title-action">

                        <form role="form" class="form-inline">
                            <div class="form-group">

                                <div class="float-right dropdown">
                                    <button data-toggle="dropdown" class="dropdown-toggle btn-white form-control">
                                        <span class="fa fa-cog m-r-xs"></span>
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu m-t-n-xxs">
                                        <li><a href="#">Bautizmo</a></li>
                                        <li><a href="#" data-toggle="modal" data-target="#InactivoModal">Inactivo</a></li>
                                        <li><a href="#">Borrar</a></li>
                                    </ul>

                                </div>
                            </div>
                            <div class="form-group">
                                <select asp-for="IdMiembro" class="form-control" data-placeholder="Selecciona Membresía"
                                        asp-items="@(new SelectList(Model.TipoMiembroList,"IdMiembro","TipoMiembro"))"
                                        onchange="doIt(this,'@Url.Action("CambiaTipoMiembro", "Personas")')">
                                    <option>Tipo Miembro</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="ibox">
            <div class="ibox-title ibox-title3">
                <h5>Información Personal </h5>
                <div class="ibox-tools">
                    <a asp-action="Editar" asp-route-Id="@Model.IdPersona" class=""><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <dl class="row mb-0">
                            <div class="col-sm-5 text-sm-right"><dt><span class="fa fa-calendar-o m-r-xs"></span>Nacimiento:</dt> </div>
                            <div class="col-sm-7 text-sm-left"><dd class="mb-1">@Model.FechaNacimientoText</dd> </div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-5 text-sm-right"><dt><span class="fa fa-graduation-cap m-r-xs"></span>Escolaridad:</dt> </div>
                            <div class="col-sm-7 text-sm-left"> <dd class="mb-1">@Model.Escolaridad </dd></div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-5 text-sm-right"><dt><span class="fa fa-briefcase m-r-xs"></span>Oficio:</dt> </div>
                            <div class="col-sm-7 text-sm-left"> <dd class="mb-1">@Model.Oficio </dd></div>
                        </dl>


                    </div>

                    <div class="col-sm-6">
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right"><dt><span class="fa fa-envelope m-r-xs"></span>Correo:</dt> </div>
                            <div class="col-sm-8 text-sm-left"><dd class="mb-1">@Model.CorreoElectronico</dd> </div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right"><dt><span class="fa fa-phone m-r-xs"></span>Teléfono:</dt> </div>
                            <div class="col-sm-8 text-sm-left"><dd class="mb-1">@Model.Telefono</dd> </div>
                        </dl>
                        <dl class="row mb-0">
                            <div class="col-sm-4 text-sm-right"><dt><span class="fa fa-map-marker m-r-xs"></span>Dirección:</dt> </div>
                            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">@Model.Calle</dd></div>
                            <div class="col-sm-4 text-sm-right"><dt></dt> </div>
                            <div class="col-sm-8 text-sm-left"> <dd class="mb-1">@Model.colonia</dd></div>
                            <div class="col-sm-4 text-sm-right"><dt></dt> </div>
                            <div class="col-sm-8 text-sm-left"> <dd class="mb-1"> @Model.Ciudad, @Model.CP</dd></div>
                        </dl>

                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="row" style="margin-top:20px;">
                    <a asp-action="Index" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Regresar</a>
                    <a asp-action="Timeline" class="btn btn-sm btn-success"><i class="fa fa-bar-chart"></i> Actividad</a>
                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#NotasModal"><i class="fa fa-sticky-note"></i> Notas</button>

                </div>

            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="ibox">
            <div class="ibox-title ibox-title3">
                <h5>Familia </h5>
                <div class="ibox-tools">
                    <a class=""><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            <div class="ibox-content">
                <p class="alert alert-danger animated fadeInRight text-center">
                    Aún no se ha agregado a alguna familia.
                    <br />
                    <a class="alert-link" href="#">Agregar ahora</a>
                </p>

            </div>
        </div>
    </div>
</div>


@*VENTANA NOTAS*@

<div id="NotasModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="AgregaNota" id="frmNota">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label><i class='mdi text-danger mdi-note-plus'></i> Agregar Notas</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <textarea asp-for="Notas" class="form-control diff-textarea" id="original" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Agregar" class="btn btn-success" />
                </div>
                @Html.HiddenFor(model => model.IdPersona)

            </form>
        </div>
    </div>
</div>

@*VENTANA INACTIVO*@

<div id="InactivoModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <label><i class='mdi text-danger mdi-note-plus'></i> Establecer Inactivo</label>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <p>Los miembros inactivos son usuarios que ya no asisten a su iglesia. Una vez marcados como inactivos, 
                                ya no aparecerán en su lista de personas, listas personalizadas ni en las estadísticas del tablero, 
                                pero su historial permanecerá intacto.</p>
                            </div>
                        </div>
                        <div class="form-group row">
                           
                            <div class="col-sm-6 ">
                                <label class="control-label">Motivo</label>
                                <select asp-for="IdEstatus" class="form-control" data-placeholder="Selecciona Motivo"
                                        asp-items="@(new SelectList(Model.EstatusList,"IdEstatus","Estatus"))">
                                </select>
                                <span  class="text-danger"></span>
                            </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Fecha</label>
                                    <input  type="text" class="form-control datepicker" value="@ViewBag.FechaActual">
                                    <span  class="text-danger"></span>
                                </div>

                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>






@Html.HiddenFor(model => model.IdPersona)
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({
            
            language: 'es'
        });
        //$('.chosen-select').chosen({ width: "100%" });
        //var id = $("#IdPersona").val();
        //alert(id);
    });

    function doIt(item, baseUrl) {

        window.location.href = baseUrl + '?IdMiembro=' + item.value + "&idPersona=" + $("#IdPersona").val();
    }
</script>