@model Membresia.Models.ViewModels.PersonaEditarVM
@{
    ViewData["Title"] = "Editar";
}
    <input type="hidden" id="error" value="@ViewBag.Error" />
    <form method="post" asp-action="Editar" id="frmPersona">
        @Html.AntiForgeryToken()
        <div class="row wrapper page-heading">
            <div class="col-md-10 col-sm-10 col-xs-12">
                <h2>Agregar Persona</h2>
            </div>
            <div class="col-md-2 col-sm-2 hidden-xs text-right">
                <i class="mdi text-danger mdi-account-plus"></i>
            </div>
        </div>

        <div class="ibox float-e-margins" id="ibox-create">
            <div class="ibox-title my-ibox">
                <h5>Datos</h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-double-bounce">
                    <div class="sk-double-bounce1"></div>
                    <div class="sk-double-bounce2"></div>
                </div>
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="Nombre" class="form-control" placeholder="Nombre *" />
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="ApPaterno" class="form-control" placeholder="Apellido Paterno *" />
                                <span asp-validation-for="ApPaterno" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="ApMaterno" class="form-control" placeholder="Apellido Materno" />
                                <span asp-validation-for="ApMaterno" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Correo Electrónico</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-12">
                                <input asp-for="CorreoElectronico" class="form-control" placeholder="Correo Electrónico" />
                                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Teléfono</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-12">
                                <input asp-for="Telefono" class="form-control phone-mask" placeholder="" />
                                <span asp-validation-for="Telefono" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Dirección</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="Calle" class="form-control" placeholder="Calle" />
                                <span asp-validation-for="Calle" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="colonia" class="form-control" placeholder="Colonia" />
                                <span asp-validation-for="colonia" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="Ciudad" class="form-control" placeholder="Ciudad" />
                                <span asp-validation-for="Ciudad" class="text-danger"></span>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 div-size2 ">
                                <input asp-for="CP" class="form-control" placeholder="Código Postal" />
                                <span asp-validation-for="CP" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <label class="control-label">Género</label>
                                <select asp-for="idsexo" class="form-control m-b">
                                    <option value="0">Selecciona una Opción</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option>
                                </select>
                                <span asp-validation-for="idsexo" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <label class="control-label">Fecha de Nacimiento</label>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input asp-for="FechaNacimiento" type="text" class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <label class="control-label">Estado civil</label>
                                <select asp-for="IdEstadoCivil" class="form-control m-b"
                                        asp-items="@(new SelectList(Model.EstadoCivilList,"IdEstadoCivil","EstadoCivil"))">
                                    <option>Selecciona una Opción</option>
                                </select>
                                <span asp-validation-for="IdEstadoCivil" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="hr-line-dashed"></div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <label class="control-label">Oficio</label>
                                <input asp-for="Oficio" class="form-control" placeholder="Oficio o Trabajo" />
                                <span asp-validation-for="Oficio" class="text-danger"></span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12 div-size2 ">
                                <label class="control-label">Escolaridad</label>
                                <select asp-for="IdEscolaridad" class="form-control m-b"
                                        asp-items="@(new SelectList(Model.EscolaridadList,"IdEscolaridad","Escolaridad"))">
                                    <option value="0">Selecciona una Opción</option>
                                </select>
                                <span asp-validation-for="IdEscolaridad" class="text-danger"></span>
                            </div>

                        </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    @*<partial name="_GuardaryRegresarBtn" />*@
                    <div class="row" style="margin-top:20px;">
                        <a asp-action="Detalle" asp-route-id="@Model.IdPersona"  class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Regresar</a>
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                    </div>

                </div>
            </div>
        @Html.HiddenFor(model => model.IdPersona)
    </form>

<script>
    $(document).ready(function () {

      

        $('.datepicker').datepicker({
            startView: 'decade',
            language: 'es'
        });

        if ($("#error").val().length > 0) {
            MyToast("Aviso", $("#error").val(), "error");
        }


    });
</script>

